*.class
lib/*
bin/*
*.classpath
*.project
twitter4j.properties
.settings/org.eclipse.jdt.core.prefs
src/datacollection/MyCb.java
src/test/QuickTour.java
src/test/Test2.java
src/test/Test2.java
src/test/Test2.java
data/2551981338L-407374096.txt
src/test/Test2.java